<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<!-- Uses the rails method, csrf_meta_tag to prevent cross-site request forgery (CSGRF) type of malicious web attack-->
	</head>
	<body>
		<%= yield %>
	</body>
</html>